/* Specific popup styles */

#marker-tooltip-incident {
	min-width: 100px;

	ul {
		padding-left: 0;
		white-space: nowrap;
	}
}

#marker-tooltip-media {
	min-width: 60px;
	min-height: inherit;

	.ol-popup-content {
		text-align: center;
		padding: 5px 10px;

		span {
			white-space: nowrap;
		}
	}
}